# Ignore Python virtual environment
venv/
.env
__pycache__/
*.pyc

# Ignore Streamlit & cache files
.streamlit/
.history/
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore specific files
docsameface.py
temp_ela.jpg
testazurekey.py
docsameface.py